<div class="ui container p-none--sides" id="main_container">
	<div class="ui right aligned middle aligned stackable grid full-height">

		<div class="sixteen wide column wrapper tm-deep-shadow p-medium--all">
				<div id="card-selection">
					<div class="ui six cards">
						<% @desktop_templates.each_with_index do |template, index| %>
							<div class="fluid card <%= "active" if index == 0 %>" data-template="<%= index + 1 %>">
								<%= image_tag "#{template}.png" %>
							</div>
						<% end %>
					</div>
				</div>
				<div id="canvas-container">
					<%= render 'homes/form' %>
				</div>
				<button class="ui tm-grey button tm-button m-medium--top"
								id="preview-button">
					Xem trước
				</button>
				<div class="ui buttons" id="action-buttons">
					<button class="ui tm-grey button tm-button m-medium--top"
									id="back-button"
									style="display: none">
						Chỉnh sửa
					</button>
					<button class="ui tm-blue button tm-button m-medium--top"
									id="send-button"
									style="display: none">
						Tạo Thiệp
					</button>
				</div>
		</div>
	</div>
</div>


<script>
	message  = "";
	receiver = "";
	sender   = "";
	template = 1 ;
	function setup() {
		canvas 	 = createCanvas(720, 400);
	  bg_image = loadImage('<%= asset_path "card-1.png" %>');
	  canvas.id("card-canvas");
	  canvas.parent('canvas-container');
	}
	function draw() {
		background(bg_image);
		data = Cookies.getJSON("template_data");
		card_data = data["card-" + template.toString()];
		fill(card_data["receiver_color"]);
	 	textSize(card_data["receiver_size"]);
	  textFont(card_data["receiver_font"]);
	 	text(receiver,
	 			 card_data["receiver_left"],
	 			 card_data["receiver_top"],
	 			 card_data["receiver_box"],
	 			 card_data["receiver_height"]);
	 	fill(card_data["message_color"]);
	  textFont(card_data["message_font"]);
	 	text(message,
	 			 card_data["message_left"],
	 			 card_data["message_top"],
	 			 card_data["message_box"],
	 			 card_data["message_height"]);
	 	fill(card_data["sender_color"]);
	 	textFont(card_data["sender_font"]);
	 	text(sender,
	 			 card_data["sender_left"],
	 			 card_data["sender_top"],
	 			 card_data["sender_box"],
	 			 card_data["sender_height"]);
	}
</script>
